
/**********overlay**********/
.overlay{
	height:0px;
	width:0px;
	background-color:#000;
	opacity:0;
	position:fixed!important;
	z-index:4;
	overflow:auto;
	transition: width 0s, height 0s, opacity .4s;
}
.overlay.overlayOpen{
	width:100%;
	height:100%;
	opacity:.5;
	cursor: pointer;
	transition: width 0s, height 0s, opacity .4s;
}


/**********Modal IT*************/
.modal{
	text-align: center;
	width:calc(100% - 2em);
	max-width:600px;
	border-radius: 1em;
	height:auto;
	max-height:300px;
	position:fixed!important;
	top:-300px;
	left:50%;
	z-index: 5;
	transform: translate(-50%, -50%);
	background-color: #FFF;
	border: solid 3px red;
	box-shadow: 5px 10px 10px #666;
	position: relative;
}
.modal.openModal{
	top:50%;
}
.modal.modal-header.button{
	position: absolute;
	top:.25em;
	right:.25em;
	background-color: transparent;
	color:#333;
}
.modal.modal-header.button:hover{
	background-color: #333;
}
